<div class="row mt-3">
  <div class="col">

    <form [formGroup]="formSearch">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search list" formControlName="query" autofocus>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Search</span>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<b>{{ result?.total_count || '0' }}</b> result{{ formSearch.controls.query.value ? ' for "'+formSearch.controls.query.value+'".' : '.' }}
<!-- <hr> -->

<div class="row mt-3">
  <div class="col-12">

    <div class="alert alert-primary" role="alert" *ngIf="request.loading">
      <i class="fas fa-spinner fa-spin"></i> Loading repository result.
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="request.error">
      <i class="fas fa-exclamation-triangle"></i> Request error. Please try again.
    </div>

    <div class="card mb-3" *ngFor="let item of result?.items">
      <div class="card-body">

        <div class="row">
          <div class="col-8">
            <a target="_blank" [href]="item.html_url"><h6 class="text-primary">{{ item.full_name }}</h6></a>
            <p>{{ item.description }}</p>
            <p><small>Updated on: {{ item.updated_at | date:'mediumDate' }}</small></p>
          </div>
          <div class="col-2 text-center">
            <span class="badge badge-pill badge-primary">{{ item.language }}</span>
          </div>
          <div class="col-2 text-center">
              <i class="fas fa-star"></i> {{ item.stargazers_count }}
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="col-12">
    <pagination 
      class="justify-content-center mt-3" 
      [(ngModel)]="paging.currentPage" 
      [totalItems]="paging.totalItems" 
      [maxSize]="paging.maxSize" 
      (pageChanged)="pageChanged($event)"
      (numPages)="paging.pageTotal = $event"
    ></pagination>
    <pre class="card card-block card-header mb-3">Page {{paging.currentPage}} of {{paging.pageTotal}}</pre>
  </div> 

</div>